*{padding: 0;margin: 0;}
li{list-style:none}

.topber{
    position: relative;
}
 .search_box{
    width:180px;
    height:30px;
    background-color: #313131;
    margin-right: 4vw;
    position: absolute;
    top:1.5vh;
    right: 0;
    border-radius:15px;
}
 .search{
    height: 30px;
    position: absolute;
    border: 0px;
    outline: none; 
    padding-left: 10px;
    color: #666666;
    font-family: "MicrosoftYaHei";
    font-size: 16px;
    background-color: #313131;
    width: 135px;
    margin-left: 2px;
    vertical-align:top;
    border-radius:15px;
    display: inline-block;
}
  .icon{
    background:url("img/1-cut/search.png") no-repeat center center; 
    position: absolute;
    display: inline-block;
    right: 5px;
    width: 30px;
    height:30px;
}
.top1,.top{
    width: 100vw;
    display: block;
}
    
.main{
    width: 100vw;
}
.num li{
    background: #fefefe;
    width: 92vw;
    height:8vh;
    padding:40px 4vw 40px 4vw;
    border-bottom: 1px solid #cccccc;
}
.num .li_1{
    width: 92vw;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    color: #333333;
}
.num .p1{
    float: left;
}
.num .p2{
    float:right;
}

.num .li_2{
    width: 92vw;
    padding-top:35px;
    font-size: 14px;
    font-family: "MicrosoftYaHei";
     color: #666666;
    }
.num .box{
    float: left;
    width: 40vw;
}
.num .box img{
    width:15px;
}
.num .content{
    float: left;
}
.num .date{
    float: right;
}
.p3,.p4{
    width:100vw;
    background: #fefefe;
    text-align: center;
    font-size: 18px;
    color: #333333;
    line-height: 10vh
}



    



